@tailwind base;
@tailwind components;
@tailwind utilities;

.body-background {
  background-image: url('/images/restaurant_background.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}